[user]
	name = Divanshu Chauhan
	email = divkix@divkix.me
	signingkey = 30695AF88CC00E38
[core]
	eol = lf
	autocrlf = input
	editor = code --wait
	excludesfile = /Users/divkix/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
[format]
	signoff = true
[commit]
	gpgsign = true
	template = /Users/divkix/.stCommitMsg
[credential "https://github.com"]
	helper = !gh auth git-credential
[trailer "sign"]
	key = "Signed-off-by: "
	ifmissing = add
	ifexists = doNothing
	command = echo \"$(git config user.name) <$(git config user.email)>\"
[init]
	defaultBranch = main
[pull]
	ff = only
[tag]
	forceSignAnnotated = true
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[interactive]
	diffFilter = diff-so-fancy --patch
